<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style type="text/css">
body {
	background-color: #f9a427;
	background-size: cover;
	background-size: 100% 100%;
}

form {
	display: inline-block;
}

button {
	background-color: transparent;
	border-radius: 5px;
	height: 50px;
	width: 75px;
	margin-top: 25px;
	margin-left: 400px;
	font-size: 15px;
	font-weight: 700;
	border-width: 3px;
	border-color: #000;
}

p {
	position: absolute;
	top: 500px;
	margin: 35px;
	font-size: 17px;
	font-weight: 700;
}
</style>
</head>
<body>
	<form action="/sign-in">
		<button type="submit">Sign in</button>
	</form>
	<form action="/sign-up">
		<button type="submit">Sign up</button>
	</form>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
		imperdiet ante velit, nec bibendum felis feugiat vel. Suspendisse non
		mi porttitor, blandit risus a, lobortis odio. Nullam non bibendum
		risus, vitae aliquet risus. Vivamus finibus nec elit vitae euismod.
		Vivamus a est semper, sagittis dolor vel, porttitor nulla. Aenean
		facilisis, quam quis ullamcorper mattis, purus diam tincidunt urna,
		vitae faucibus libero sem at tortor. Phasellus iaculis neque turpis,
		ac interdum mauris dignissim nec. In porta imperdiet felis sed congue.
		Class aptent taciti sociosqu ad litora torquent per conubia nostra,
		per inceptos himenaeos. Etiam interdum sollicitudin venenatis. Nullam
		felis risus, pretium luctus convallis vitae, viverra vitae quam.
		Maecenas pretium, turpis et tristique convallis, arcu dui ullamcorper
		justo, at hendrerit ex leo vel nulla. Etiam maximus nisl ac nisl
		scelerisque hendrerit.</p>
</body>
</html>
